# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment directory
venv/
.env/

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# macOS Finder
.DS_Store

# Windows
Thumbs.db
Desktop.ini
